<video id="video" width="475" height="475" autoplay></video>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('video');

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                video.srcObject = stream;
                video.play();
            }).catch(function (error) {
                console.error('Error accediendo a la cámara: ', error);
            });
        } else {
            alert('Lo siento, tu navegador no soporta la API getUserMedia.');
        }
    });
</script>