<div class="contenido_inicio">
    <h2>Cursos Disponibles</h2>    
    <ul class="pagos_subsubmenu">
        <li><a href="Cursos"><img src="static/img/Fisico/FM_cursos/robotica/coches.jpg" class="imagen-curso-robotica"></a> <br>
            <a href="Cursos">Curso vacacional de Robótica</a>
        </li>
    </ul>

    <h2>Instalaciones Eléctricas</h2>
    <ul class="pagos_subsubmenu">
        <li><a href="CercoElectrico">☞ Cerco Eléctrico</a></li>
        <li><a href="Camaras">☞ Instalación de Cámaras</a></li>
        <li><a href="Domotica">☞ Domótica</a></li>
    </ul>    
</div>


<!-- ----------------------------------------------------------------------------------------- -->
<!-- --------------------------------------- css style --------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------- -->

<style>
    .contenido_inicio {
        padding: 0px 0 0 30px;
        padding: 20px;
    }

    .contenido_inicio .pagos_menu,.contenido_inicio .pagos_submenu,.contenido_inicio .pagos_subsubmenu {
        display:block;
    }
    .contenido_inicio .pagos_subsubmenu > li {
        padding-bottom: 3px;
    }

    .imagen-curso-robotica {
        max-width: 30%;
    }
</style>